html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.siteLayout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto auto 200px;
  grid-template-columns: 1fr;
  align-items: stretch;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(188, 231, 145, 0.5) 75%,
      rgba(188, 231, 145, 1) 100%
    ),
    url(images/heroBackground.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15vh;
  gap: 8vh;
}

.hero .myName {
  font-family: "Playwrite HU", cursive;
  font-size: 4rem;
  font-weight: 800;
  font-optical-sizing: auto;
  color: #00e5ff;
  text-shadow: 0 0 4px rgb(13, 53, 83), 0 0 12px rgb(13, 53, 83),
    2px 2px 3px rgb(13, 53, 83);
  letter-spacing: 2px;
}

.hero .student {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  color: #00e5ff;
  font-weight: 700;
  text-shadow: 0 0 4px #000, 0 0 12px #000, 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 15vh;
}

.subHero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
  padding-bottom: 20vh;
  gap: 4vh;
  background-color: rgb(136, 200, 255);
}

.subHero::before {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  clip-path: ellipse(60% 65% at 50% 25%);
  z-index: 0;
  background: rgb(188, 231, 145);
}

.subHero > * {
  position: relative;
  z-index: 1;
}

.subHero h2 {
  padding-top: 2vh;
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 0 0 2px rgb(13, 53, 83), 0 0 8px rgb(13, 53, 83),
    2px 2px 3px rgb(13, 53, 83);
  letter-spacing: 3px;
}
.subHero p {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 4px rgb(0, 0, 0);
}

.interestsSection {
  position: relative;
  background-color: rgb(250, 194, 90);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
  padding-bottom: 30vh;
  gap: 20vh;
}

.hobbiesDescription {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  gap: 10vh;
}

.hobbyCard {
  background: rgb(136, 200, 255);
  border-radius: 15px;
  font-family: "Nunito", sans-serif;
  width: 100%;
  height: 80%;
}

.hobbyCard .inner {
  width: 400px;
  background: #00b6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  clip-path: polygon(0% 0%, 35% 0%, 35% 45%, 0% 45%);
  transition: clip-path 0.5s ease-in-out;
}

.hobbyCard .inner:hover {
  animation-play-state: paused;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  cursor: pointer;
}

.hobbyCard .inner h3 {
  color: white;
  font-size: 1.6rem;
}
.hobbyCard .inner .workingOut {
  padding-bottom: 1em;
}

.hobbyCard .inner .movies {
  padding-bottom: 0.5em;
}

.hobbyCard .inner .videoGames {
  padding-bottom: 1em;
  padding-left: 0.2em;
}

.hobbyCard .inner p {
  font-size: 1.3rem;
  color: white;
  font-weight: 800;
  padding-bottom: 1em;
}

.interestsSection::before {
  position: absolute;
  clip-path: ellipse(60% 74% at 50% 25%);
  background: rgb(136, 200, 255);
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 0;
}
.interestsSection > * {
  position: relative;
  z-index: 1;
}

.interestsSection .hobbiesTitle {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 0 0 2px rgb(13, 53, 83), 0 0 8px rgb(13, 53, 83),
    2px 2px 3px rgb(13, 53, 83);
  letter-spacing: 3px;
}

.reachOut {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  gap: 10vh;
  padding-bottom: 25vh;
  background-color: rgb(78, 91, 163);
}

.reachOut::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  clip-path: ellipse(60% 65% at 50% 25%);
  background-color: rgb(250, 194, 90);
  content: "";
  z-index: 0;
}

.reachOut > * {
  position: relative;
  z-index: 1;
}

.reachOut h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 0 0 2px rgb(13, 53, 83), 0 0 8px rgb(13, 53, 83),
    2px 2px 3px rgb(13, 53, 83);
  letter-spacing: 3px;
}

.footer {
  background-color: rgb(78, 91, 163);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}
.footerLinks {
  display: flex;
  padding-top: 4vh;
  gap: 15vh;
}

.footer .rights {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding-top: 4vh;
  color: rgb(255, 255, 255);
}
